*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section{
    display: flex;
    margin-top: 20px;

}

#flip{
    display: flex;
    margin-top: 30px;

}

Banner,SignUp{
    display: flex;

}

#self{
    display: flex;
}




